= simple_form_for @session do |f|
  .form-divider
    = f.label :topic_id, class: "inline"
    = f.grouped_collection_select(:topic_id, @subjects, :topics, :name, :id, :name)
  .form-divider
    = f.label :date, class: "inline"
    = f.date_select :date, as: :date,
      discard_year: true,
      order: [:day, :month],
      label: false
  .form-divider
    = f.label :duration, class: "inline"
    = f.select :hours, options_for_select(0..3)
    %span="hrs"
    = f.select :minutes, options_for_select(1..59)
    %span="mins"
  = f.button :submit
