= simple_form_for @session do |f|
  .form-divider
    = f.label :topic_id, class: "inline"
    = f.collection_select(:topic_id, Topic.all, :id, :name)
  .form-divider
    = f.label :duration, class: "inline"
    = f.input :duration, label: false
  = f.button :submit
