= simple_form_for @session do |f|
  .form-divider
    = f.label :topic_id, class: "inline"
    = f.collection_select(:topic_id, @topics, :id, :name)
  .form-divider
    = f.label :date, class: "inline"
    = f.date_select :date, as: :date,
      discard_year: true,
      order: [:day, :month],
      label: false
  = f.button :submit
