- @title = "Session log"

.timeline-wrapper
  - @dates.each do |day|
    .session-group-date
      %h2 Revision on #{formatted_date(day)}
    - Session.where(date: day).each do |session|
      .session
        .session-details
          %p #{formatted_duration(session.duration_split)}
          %h2.name= session_link(session)
          = render 'tags', tags: session.topic.topicTags, type: "topicTags", subject: session.topic.subject
          %ul.options
            %li= link_to "Edit", edit_session_path(session)
            %li= link_to "Delete", session_path(session), method: :delete, data: { confirm: "Are you sure?" }
