= simple_form_for [@subject, @topic] do |f|
  = f.input :name, label: false, placeholder: "Topic name"
  %h2 Topic tags
  = f.association :topicTags, label: false, as: :check_boxes, collection: @topic_tags
  = link_to "Add topic tags", new_topic_tag_path, class: "form", target: :_blank
  = f.button :submit
