= simple_form_for @subject_tag do |f|
  = f.input :name, label: false, placeholder: "Subject tag name"
  .form-divider
    = f.label :tagColour, "Tag colour:", class: "inline"
    = f.collection_select(:colour, @tag_colours, :to_s, :to_s)
  = f.button :submit
