= simple_form_for @subject do |f|
  = f.input :name, label: false, placeholder: "Subject name"
  = f.input :teacher, label: false, placeholder: "Teacher's name"
  = f.input :target, label: false, placeholder: "Target weekly hours"
  %h2 Subject tags
  = f.association :subjectTags, label: false, as: :check_boxes, collection: @subject_tags
  = link_to "Add subject tags", new_subject_tag_path, class: "form", target: :_blank
  = f.button :submit
