- @title = "Dashboard"
- @page = "dashboard"

.top-section
  .top
    .greeting.left
      %h1= greeting(@name)
      %p= statistic(current_student)
    - if @filter.present?
      .right
        %p.filter Filtering by #{@filter}
        %ul.options
          %li= link_to "Clear filter", root_path
  .targets
    - @subjects_with_targets.each do |subject|
      = render 'target', subject: subject

- unless @subjects.blank?
  - @subjects.each do |subject|
    .section-wrapper.dashboard-subject
      .left
        %a{href: subject_path(subject)}
          %p.important.name= subject.name.capitalize
        = render "tags", tags: subject.subjectTags, type: "subjectTags"
      .right
        %p= sessions_duration(subject)
