%html
  %head
    - if @title.blank?
      %title= "RevisionHub"
    - else
      %title= "RevisionHub: " + @title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .wrapper
        %h1.logo= link_to "RevisionHub", root_path
        %nav
          %ul
            %li= link_to "Home", root_path
            %li= link_to "About", root_path
            - if true
              %li= link_to "Add Subject", new_subject_path
              %li= link_to "Log a session", new_session_path
              %li= link_to "Sign out", root_path
            - else
              %li= link_to "Sign in", root_path

    %p.notice = notice
    %p.alert = alert

    - if @page_wrapper
      .page-wrapper
        - if @single_section_page
          .section-wrapper
            = yield
        - else
          = yield
    - else
      = yield
