%html
  %head
    = render 'head'
  %body
    - if @page == "home"
      - @page_wrapper = false

    - if @page_wrapper == nil
      - @page_wrapper = true

    - if @form
      - @single_section_page = true
      - @page_wrapper = false

    - if @page_wrapper || @devise_page || @form
      - @wrapper = true

    = render 'notice_and_alert'

    - unless @page == "home"
      %header
        = render 'nav-bar'

    - if @wrapper
      %div{class: ["devise-wrapper" if @devise_page), ("general-form-wrapper" if @form), ("page-wrapper" if @page_wrapper)]}
        - if @single_section_page
          .section-wrapper
            = yield
        - else
          = yield
    - else
      = yield
    = render 'analytics'
