%html
  %head
    = render 'head'
  %body
    - if @page_wrapper == nil
      - @page_wrapper = true

    - if @page_wrapper || @devise_page
      - @wrapper = true

    = render 'notice_and_alert'

    %header
      = render 'nav-bar'

    - if @wrapper
      %div{class: [("devise-wrapper" if @devise_page), ("general-form-wrapper" if @form), ("page-wrapper" if @page_wrapper)]}
        - if @single_section_page
          .section-wrapper
            = yield
        - else
          = yield
    - else
      = yield
    = render 'analytics'
