%html
  %head
    - if @title.blank?
      %title= "RevisionHub"
    - else
      %title= "RevisionHub: " + @title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if @page_wrapper == nil
      - @page_wrapper = true

    - if @devise_page || @form
      - @single_section_page = true
      - @page_wrapper = false

    - if @page_wrapper || @devise_page || @form
      - @wrapper = true

    - if notice
      .notice-wrapper
        %p.notice= notice
    - elsif alert
      - @alert = true
      .alert-wrapper
        %p.alert= alert

    %header
      .wrapper
        %h1.logo{class: ("center" if @devise_page)}= link_to "RevisionHub", root_path
        - unless @devise_page
          %nav
            %ul
              - unless student_signed_in?
                %li= link_to "Home", root_path
                %li= link_to "About", root_path
              - if student_signed_in?
                %li= link_to "Dashboard", root_path
                %li= link_to "Add Subject", new_subject_path
                %li= link_to "Sessions", sessions_path
                %li= link_to "Log a session", new_session_path
                %li= link_to "Sign out", destroy_student_session_path, method: :delete
              - else
                %li= link_to "Sign in", new_student_session_path


    - if @wrapper
      %div{class: [("devise-wrapper" if @devise_page), ("general-form-wrapper" if @form), ("page-wrapper" if @page_wrapper)]}
        - if @single_section_page
          .section-wrapper.animated{class: [("flipInX" if @devise_page unless @alert), ("wobble" if @devise_page && @alert)]}
            = yield
        - else
          = yield
    - else
      = yield
